@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');



body{
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
   
}
@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-orange-500{
    background-color: #FD853A !important;
}
.text-orange-500{
    color: #FD853A !important;
}



.inverted-radius {
    --r: 35px; /* the radius */
    --s: 80px; /* the size of the corner*/
    
    
    
    border-radius: var(--r);
    --_m:/calc(2*var(--r)) calc(2*var(--r))
      radial-gradient(#000 70%,#0000 72%) no-repeat;
    mask:
      right 0 bottom calc(var(--s) + var(--r)) var(--_m),
      right calc(var(--s) + var(--r)) bottom 0 var(--_m),
      radial-gradient(var(--s) at 100% 100%,#0000 99%,#000 101%) 
       calc(-1*var(--r)) calc(-1*var(--r)) no-repeat,
      conic-gradient(from 90deg at calc(100% - var(--s) - 2*var(--r)) calc(100% - var(--s) - 2*var(--r)),
       #0000 25%,#000 0);
  }
 
    